<h1 class="profile-title">Exercise Directory</h1>

<br>

<div  class="filter">
<form action="/listexercise/search" method="POST">
  <input type="text" placeholder="Exercise name" name="search">
  <button type="submit">Search</button>
</form>
</div>

<br><br>

<div class="page-top"> 
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    
<div class="col-6">


<ul>
{{#each allExercises}}

    <li>
        <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
    </li>

{{/each}}
</ul>


 </div>
    <div class="col">
    </div>
  </div>
</div>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex justify-content-center">
    </div>
    <div class="col-md-4"></div>
  </div>
</div>