
<div class="container">

<div class="row">
<div class="col-md-3">
</div>

<div class="col-md-6">

<h1>Create Workout Plan</h1>

<form class="card-template forms" action="/create-workout" method="POST">
 
  <div class="form-group">
    <label class="form-label">Title</label>
    <input type="text" name="title" class="form-control mb-2"/>
    </div>

  <div class="form-group">
    <br>
    <label class="form-label">Description</label>
     <br>
    <textarea rows="10" cols="50" name="description" class="form-control mb-2"></textarea>
    </div>

<div class="form-group">
    <br>
    <label class="form-label">Workout Goals</label>
    <select name="workoutGoals" class="form-control mb-2">
        <option value="0">Select</option>
        <option>Lose fat</option>
        <option>Get fit</option>
        <option>Gain muscle</option>
    </select>
</div>

    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-outline-success button">Create</button>

</form>


</div>

  <div class="col-md-3">
  </div>

</div>
</div>