<h1>Create Workout</h1>

<form action="/create-workout" method="POST">

    <label>Title</label>
    <input type="text" name="title" />


    <br>
    <label>Description</label>
     <br>
    <textarea rows="10" cols="50" name="description"></textarea>

    <br>
    <label>Workout Goals</label>
    <select name="workoutGoals">
        <option value="0">Select</option>
        <option>Lose fat</option>
        <option>Get fit</option>
        <option>Gain muscle</option>
    </select>

    <br>
    <br>
    <br>
    <button type="submit">Create</button>

</form>