<h1 class="profile-title">Edit account</h1>


<div class="page-top"> 
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    
<div class="col-6">





<form class="card-template forms" action="/edit-account/{{loggedInUserID}}" method="POST" enctype="multipart/form-data">


 <div class="form-group">
    <label class="form-label">Update Email</label>
    <input type="email" name= "email"  placeholder="Enter email" class="form-control mb-2" required>
  </div>


 <div class="form-group">
     <label class="form-label">Update Bio</label>
     <input type="text" name= "bio"  placeholder="Something about you..." class="form-control mb-2" required>
 </div>

  <div class="form-group">
    <label class="form-label">Update Profile Picture </label>
    <input type="file" name="photo" class="form-control mb-2" required>
  </div>
  

<button class="btn btn-outline-success button" type="submit" >Update Account</button>




  </div>
    <div class="col">
    </div>
  </div>
</div>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex justify-content-center">
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

