<h2 class="profile-title">Edit your profile</h2>


<div class="page-top"> 
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    
<div class="col-6">







<form class="card-template forms" action="/edit-profile/{{loggedInUserID}}" method="POST">

  
  <div class="form-group" >
    <label>Gender</label>
     <select name="gender" class="form-control mb-2" required>
        <option value="0">Select</option>
        <option>Male</option>
        <option>Female</option>
        <option>Prefer not to say</option>
    </select>
   </div>

  <div class="form-group">
    <label>Age</label>
    <input type="number" name= "age" class="form-control mb-2" min=18 required >
  </div>

  <div class="form-group">
    <label>Height (in cm)</label>
    <input type="number" name= "height" class="form-control mb-2" min=130 required >
  </div>

  <div class="form-group">
    <label>Weight (in Kg)</label>
    <input type="number" name="weight" class="form-control mb-2" min=40 required >
  </div>

<div class="form-group">
  <label>Disability</label>
    <select name="disability"  class="form-control mb-2" required>
        <option value="0">Select</option>
        <option>Yes</option>
        <option>No</option>
    </select>
</div>

 <div class="form-group">
    <label>Activity Level</label>
     <select name="activityLevel" class="form-control mb-2" required>
        <option value="0">Select</option>
        <option>Lazy Bastard</option>
        <option>Active</option>
        <option>Athlete</option>
        <option>Beast</option>
    </select>
   </div>



<div class="form-group">
  <label>Workout days/week</label>
   <select name="expectedDays" class="form-control mb-2" required>
        <option value="0">Select</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
    </select>
</div>

<div class="form-group">
  <label>Workout Goals</label>
   <select name="workoutGoals"  class="form-control mb-2" required>
        <option value="0">Select</option>
        <option>Lose fat</option>
        <option>Get fit</option>
        <option>Gain muscle</option>
    </select>
  
</div>

  

<button class="btn btn-outline-success button" type="submit" >Done</button>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}





  </div>
    <div class="col">
    </div>
  </div>
</div>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex justify-content-center">
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

